#riffin-editor {
  position: relative;
}

#riffin-editor-inputGrid {
  background: transparent;
  margin: 0;
  position: relative;
  resize: none;
  text-align: center;
}

#riffin-editor-dashGrid {
  margin: 0;
  position: absolute;
  resize: none;
  text-align: center;
  z-index: -1;
}
